body {
	background: rgb(0, 54, 65);
	font: normal 15pt Arial;
}
header {
	color: rgb(148, 102, 42);
	text-align: center;
}

section {
	background: rgb(148, 102, 42);
	text-align: center;
	border-radius: 10px;
	padding:  15px;
	width: 500px;
	margin: auto;
	box-shadow: 0px 0px 10px rgba(187, 139, 61, 0.596);
}

footer {
	color: rgb(148, 102, 42);
	text-align: center ;
	font-style: italic;
}